<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>My VueJs Carousel</title>
</head>

<body>
    <header></header>
    <main>
        <div class="main-container" id="root">
            <!-- Sezione SX -->
            <div class="blocco-sinistra col-4 p-relative">
                <div class="contenitore-immagine" v-for="image, i in imgList" :class="i === currentActiveImg ? 'display' : ' '" >
                    <img :src="imgList[currentActiveImg].url" class="p-absolute" :class="i === currentActiveImg ? 'display' : ' '" alt="">
                    <div class="text-container p-absolute">
                        <h4 class="titolo-immagine">{{imgList[currentActiveImg].titolo}}</h4>
                        <p class="descrizione-immagine">{{imgList[currentActiveImg].descrizione}}</p>
                    </div>
                </div>
            </div>
            
            
            
            
            <!-- Sezione di DX -->
            <div class="blocco-destra col-1">
                <ul class="lista-verticale d-flex">
                    <li v-for="image, i in imgList" :class="i === currentActiveImg ? 'display' : ' '">
                        <img :src="imgList[i].url" alt="">
                    </li>
                </ul>
                <div class="arrows-container">
                    <div class="arrow-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="arrow-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>